.app-title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.nav-option {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
