h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h5 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.form-label {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.favorite-locations {
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
