@keyframes slideInFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.location-description {
  animation: slideInFromRight 0.6s ease-out forwards;
}

.location-subdivision {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.location-direction {
  animation: slideInFromRight 0.85s ease-out forwards;
}

.location-date {
  animation: slideInFromRight 0.9s ease-out forwards;
}

.location-image {
  animation: slideInFromLeft 0.6s ease-out forwards;
}

.location-title {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.location-title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.location-description {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.location-subdivision {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}

.location-direction {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}

.location-date {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: center;
}
